# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/build/
android/key.properties
*.jks

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/app.flx
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
*.xcuserstate

# OS
.DS_Store
Thumbs.db